{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    [
      "@jetbrains/babel-preset-jetbrains",
      {
        "corejs": 3,
        "transformRuntime": true
      }
    ]
  ]
}