{% set restyled="v2" %} {% extends 'base.html' %} {% set headerDropdownTheme =
"dark" %} {% block head_preload %}
<link
  rel="preload"
  href="/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2"
  as="font"
/>
<link
  rel="preload"
  href="/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2"
  as="font"
/>
<link
  rel="preload"
  href="/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2"
  as="font"
/>
{% endblock %} {% block body_class %}page__index-new{% endblock %} {% block
page_outer_content %}
<div id="react-app">{{- ssr_html | safe -}}</div>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/_assets/common.css" />
<link rel="stylesheet" href="/_assets/styles-v2.css" />
<link rel="stylesheet" href="/_assets/client.css">

{% endblock %} {% block scripts %}
<script src="/_assets/shared.js"></script>
<script src="/_assets/common.js"></script>
<script src="/_assets/client.js"></script>
{% endblock %}
